# build
dist/
.astro/

# documentation
_docs/

# dependencies
node_modules/

# logs
npm-debug.log*

# environment
.env
.env.*
!.env.example

# editor
.vscode/*
!.vscode/extensions.json
.idea/

# macOS
.DS_Store
